@model hendi.Models.Entities.Guest

@{
    ViewData["Title"] = "Add Guest";
    // Get today's date in yyyy-MM-dd format
    var today = DateTime.Today.ToString("yyyy-MM-dd");
    var guests = ViewBag.guests;
    
}
<link href="~/css/font-awesome.css" rel="stylesheet" />
<h1>
    Add Guest <i class="fa fa-plus"></i>
</h1>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birthdate" class="control-label"></label>
        <input value="@today" asp-for="Birthdate" type="date" class="form-control" />
        <span asp-validation-for="Birthdate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input type="number" asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <input name="ConfirmPassword" class="form-control" type="password" />
        <button id="show-password" type="button" class="btn btn-dark">
            <i class="fa-regular fa-eye"></i>
        </button>
    </div>


    <div class="form-group">
        <label asp-for="DateOfAppintment" class="control-label"></label>
        <input value="@today" asp-for="DateOfAppintment" type="date" class="form-control" max="@today" />
        <span asp-validation-for="DateOfAppintment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</form>




<hr />

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Birthdata</th>
                <th>DateOfAppintment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guest in guests)
            {
                <tr>
                    <td>@guest.Id</td>
                    <td>@guest.Name</td>
                    <td>@guest.Email</td>
                    <td>@guest.Phone</td>
                    <td>@guest.Address</td>
                    <td>@guest.Birthdate.ToString("dd/MM/yyyy")</td>
                    <td>@guest.DateOfAppintment</td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@guest.Id" />
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var passwordInput = document.querySelectorAll('input[type="password"]');
document.getElementById("show-password").addEventListener("click", function(e) {
       
        passwordInput.forEach((el, idx) => {
            if (el.type === "password") {
                el.type = "text";
            } else {
                el.type = "password";
            }
        })
    });
</script>